-e file:.[all]
pip>=22.0.3
docker
devpi-client
flake8
pytest
pytest-cov
ipython
pre-commit
vulture
pip-tools
isort
locust
sentry-sdk
codespell
twine
pylint
semgrep
alembic
# alembic depends on mako without version restriction.
# However, mako<1.2.2 has high severity CVE-2022-40023
mako>=1.2.2
sphinx
furo
